<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
  <menu id="root-menu" label="Applications">
    <item label="Firefox" icon="/usr/share/icons/Papirus/24x24/apps/firefox.svg">
      <action name="Execute"><execute>firefox</execute></action>
    </item>
    <item label="Alacritty" icon="/usr/share/icons/Papirus/24x24/apps/Alacritty.svg">
      <action name="Execute"><execute>alacritty</execute></action>
    </item>
    <item label="File Manager" icon="/usr/share/icons/Papirus/24x24/apps/system-file-manager.svg">
      <action name="Execute"><execute>pcmanfm</execute></action>
    </item>
    <item label="Vi IMproved" icon="/usr/share/icons/Papirus/24x24/apps/vim.svg">
        <action name="Execute"><execute>gvim -f</execute></action>
    </item>
    <item label="Bitwarden" icon="/usr/share/icons/Papirus/24x24/apps/bitwarden.svg">
        <action name="Execute"><execute>bitwarden --disable-gpu-compositing %F</execute></action>
    </item>
    <separator label="Categories"/>
    <menu id="utilities" icon="/usr/share/icons/Papirus/24x24/apps/applications-accessories.svg" label="Utilities">
      <item label="Engrampa Archive Manager" icon="/usr/share/icons/Papirus/24x24/apps/archive-manager.svg">
        <action name="Execute"><execute>engrampa</execute></action>
      </item>
      <item label="File Manager PCManFM" icon="/usr/share/icons/Papirus/24x24/apps/system-file-manager.svg">
        <action name="Execute"><execute>pcmanfm</execute></action>
      </item>
      <item label="Galculator" icon="/usr/share/icons/Papirus/24x24/apps/calc.svg">
        <action name="Execute"><execute>galculator</execute></action>
      </item>
      <item label="Bitwarden" icon="/usr/share/icons/Papirus/24x24/apps/bitwarden.svg">
        <action name="Execute"><execute>bitwarden --disable-gpu-compositing %F</execute></action>
      </item>
      <item label="Vi IMproved" icon="/usr/share/icons/Papirus/24x24/apps/vim.svg">
        <action name="Execute"><execute>gvim -f</execute></action>
      </item>
    </menu>
    <menu id="graphics" icon="/usr/share/icons/Papirus/24x24/apps/applications-graphics.svg" label="Graphics">
      <item label="Color picker" icon="/usr/share/icons/Papirus/24x24/apps/gpick.svg">
          <action name="Execute"><execute>gpick</execute></action>
      </item>
      <item label="LibreOffice Draw" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice-draw.svg">
        <action name="Execute"><execute>libreoffice --draw</execute></action>
      </item>
      <item label="Viewnior" icon="/usr/share/icons/Papirus/24x24/apps/viewnior.svg">
        <action name="Execute"><execute>viewnior</execute></action>
      </item>
    </menu>
    <menu id="development" icon="/usr/share/icons/Papirus/24x24/apps/applications-development.svg" label="Development">
     <item label="DBeaver" icon="/usr/share/icons/Papirus/24x24/apps/dbeaver.svg">
        <action name="Execute"><execute>sh -c "$HOME/.local/share/dbeaver/dbeaver"</execute></action>
      </item>
      <item label="Yaak" icon="~/.local/share/icons/yaak.png">
        <action name="Execute"><execute>yaak</execute></action>
      </item>
      <item label="Intellij Idea" icon="/usr/share/icons/Papirus/24x24/apps/intellij.svg">
        <action name="Execute"><execute>sh -c "$HOME/.local/share/intellij-idea/bin/idea"</execute></action>
      </item>
      <item label="Pycharm" icon="/usr/share/icons/Papirus/24x24/apps/pycharm.svg">
        <action name="Execute"><execute>sh -c "$HOME/.local/share/pycharm/bin/pycharm"</execute></action>
      </item>
     <item label="Meld" icon="/usr/share/icons/Papirus/24x24/apps/meld.svg">
        <action name="Execute"><execute>meld</execute></action>
      </item>
      <item label="VSCodium" icon="/usr/share/icons/Papirus/24x24/apps/vscodium.svg">
        <action name="Execute"><execute>codium</execute></action>
      </item>
    </menu>
    <menu id="network" icon="/usr/share/icons/Papirus/24x24/apps/applications-internet.svg" label="Network">
      <item label="Chromium" icon="/usr/share/icons/Papirus/24x24/apps/chromium.svg">
        <action name="Execute"><execute>chromium</execute></action>
      </item>
      <item label="Ferdium" icon="/usr/share/icons/Papirus/24x24/apps/ferdium.svg">
        <action name="Execute"><execute>ferdium</execute></action>
      </item>
      <item label="Firefox" icon="/usr/share/icons/Papirus/24x24/apps/firefox.svg">
        <action name="Execute"><execute>firefox</execute></action>
      </item>
      <item label="Firefox-Dev" icon="/usr/share/icons/Papirus/24x24/apps/firefox-developer-edition.svg">
        <action name="Execute"><execute>firefox-dev</execute></action>
      </item>
      <item label="JDownloader" icon="/usr/share/icons/Papirus/24x24/apps/jdownloader.svg">
        <action name="Execute"><execute>jdownloader</execute></action>
      </item>
      <item label="Mutt" icon="/usr/share/icons/Papirus/24x24/apps/mutt.svg">
        <action name="Execute"><execute>alacritty -e 'mutt'</execute></action>
      </item>
      <item label="Thunderbird" icon="/usr/share/icons/Papirus/24x24/apps/thunderbird.svg">
        <action name="Execute"><execute>thunderbird</execute></action>
      </item>
      <item label="Tor Browser" icon="/usr/share/icons/Papirus/24x24/apps/tor-browser.svg">
        <action name="Execute"><execute>sh -c "$HOME/.local/share/tor-browser/Browser/start-tor-browser"</execute></action>
      </item>
      <item label="Transmission" icon="/usr/share/icons/Papirus/24x24/apps/transmission.svg">
        <action name="Execute"><execute>transmission-gtk</execute></action>
      </item>
      <item label="Zoom" icon="/usr/share/icons/Papirus/24x24/apps/Zoom.svg">
        <action name="Execute"><execute>sh -c "$HOME/.local/share/zoom/ZoomLauncher"</execute></action>
      </item>
    </menu>
    <menu id="games" icon="/usr/share/icons/Papirus/24x24/apps/applications-games.svg" label="Games">
      <item label="Steam" icon="/usr/share/icons/Papirus/24x24/apps/steam.svg">
        <action name="Execute"><execute>steam</execute></action>
      </item>
    </menu>
    <menu id="office" icon="/usr/share/icons/Papirus/24x24/apps/applications-office.svg" label="Office">
      <item label="Joplin" icon="/usr/share/icons/Papirus/24x24/apps/joplin-desktop.svg">
        <action name="Execute"><execute>joplin</execute></action>
      </item>
      <item label="LibreOffice" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice.svg">
        <action name="Execute"><execute>libreoffice</execute></action>
      </item>
      <item label="LibreOffice Calc" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice-calc.svg">
        <action name="Execute"><execute>libreoffice --calc</execute></action>
      </item>
      <item label="LibreOffice Draw" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice-draw.svg">
        <action name="Execute"><execute>libreoffice --draw</execute></action>
      </item>
      <item label="LibreOffice Impress" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice-impress.svg">
        <action name="Execute"><execute>libreoffice --impress</execute></action>
      </item>
      <item label="LibreOffice Writer" icon="/usr/share/icons/Papirus/24x24/apps/libreoffice-writer.svg">
        <action name="Execute"><execute>libreoffice --writer</execute></action>
      </item>
      <item label="Document Viewer" icon="/usr/share/icons/Papirus/24x24/apps/document-viewer.svg">
        <action name="Execute"><execute>atril</execute></action>
      </item>
    </menu>
    <menu id="multimedia" icon="/usr/share/icons/Papirus/24x24/apps/applications-multimedia.svg" label="Multimedia">
      <item label="PulseAudio Volume Control" icon="/usr/share/icons/Papirus/24x24/apps/pavucontrol.svg">
        <action name="Execute"><execute>pavucontrol</execute></action>
      </item>
      <item label="MPV media player" icon="/usr/share/icons/Papirus/24x24/apps/mpv.svg">
        <action name="Execute"><execute>mpv</execute></action>
      </item>
    </menu>
    <menu id="settings" icon="/usr/share/icons/Papirus/24x24/apps/system-config-services.svg" label="Settings">
      <item label="Bluetooth Manager" icon="/usr/share/icons/Papirus/24x24/apps/blueman.svg">
        <action name="Execute"><execute>blueman-manager</execute></action>
      </item>
      <item label="Customize Look and Feel" icon="/usr/share/icons/Papirus/24x24/apps/preferences-desktop-theme.svg">
        <action name="Execute"><execute>lxappearance</execute></action>
      </item>
      <item label="Openbox Configuration Manager" icon="/usr/share/icons/Papirus/24x24/apps/obconf.svg">
        <action name="Execute"><execute>obconf</execute></action>
      </item>
      <item label="Reconfigure Labwc" icon="/usr/share/icons/Papirus/24x24/apps/systemsettings.svg">
        <action name="Reconfigure"/>
      </item>
    </menu>
    <menu id="system" icon="/usr/share/icons/Papirus/24x24/apps/applications-utilities.svg" label="System">
      <item label="Advanced Network Configuration" icon="/usr/share/icons/Papirus/24x24/apps/preferences-system-network.svg">
        <action name="Execute"><execute>nm-connection-editor</execute></action>
      </item>
      <item label="OTPClient" icon="/usr/share/icons/Papirus/24x24/apps/com.github.paolostivanin.OTPClient.svg">
        <action name="Execute"><execute>otpclient</execute></action>
      </item>
      <item label="GParted" icon="/usr/share/icons/Papirus/24x24/apps/gparted.svg">
        <action name="Execute"><execute>/usr/sbin/gparted %f</execute></action>
      </item>
      <item label="Alacritty" icon="/usr/share/icons/Papirus/24x24/apps/Alacritty.svg">
        <action name="Execute"><execute>alacritty</execute></action>
      </item>
    </menu>
    <menu id="power" icon="/usr/share/icons/Papirus/24x24/apps/system-shutdown.svg" label="Power">
      <item label="Exit" icon="/usr/share/icons/Papirus/24x24/apps/system-log-out.svg">
        <action name="Execute"><execute>bash ~/.local/bin/power_menu.sh 4</execute></action>
      </item>
      <item label="Suspend" icon="/usr/share/icons/Papirus/24x24/apps/system-suspend.svg">
        <action name="Execute"><execute>bash ~/.local/bin/power_menu.sh 0</execute></action>
      </item>
      <item label="Hibernate" icon="/usr/share/icons/Papirus/24x24/apps/system-hibernate.svg">
        <action name="Execute"><execute>bash ~/.local/bin/power_menu.sh 1</execute></action>
      </item>
      <item label="Reboot" icon="/usr/share/icons/Papirus/24x24/apps/system-reboot.svg">
        <action name="Execute"><execute>bash ~/.local/bin/power_menu.sh 3</execute></action>
      </item>
      <item label="Power Off" icon="/usr/share/icons/Papirus/24x24/apps/system-shutdown.svg">
        <action name="Execute"><execute>bash ~/.local/bin/power_menu.sh 2</execute></action>
      </item>
    </menu>
  </menu>
</openbox_menu>
