[Desktop Entry]
Name=Atom
GenericName=Text Editor
Comment=A hackable text editor for the 21st Century.
Exec=atom %F
Icon=atom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;
