[Desktop Entry]
Name=Visual Studio Code
GenericName=Text Editor
Comment=Code Editing. Redefined.
Exec=code --unity-launch %F
Icon=code
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Code
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=code --new-window %F
Icon=code
