[Desktop Entry]
Name=Insomnium
GenericName=API service testing tool
Comment=Tool for test endpoints of an API
Exec=insomnium --disable-gpu-compositing %u
Icon=insomnia
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;
StartupNotify=true
