[Desktop Entry]
Name=Insomnia
GenericName=Web service testing tool
Comment=Tool for test endpoints of a REST service
Exec=insomnia %u
Icon=insomnia
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;
StartupNotify=true
