[Desktop Entry]
Name=Intellij Idea
GenericName=Java Development IDE
Comment=Community Edition of Jetbrains IDE for java development
Exec=intellijidea %u
Icon=intellij_idea
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;IDE;
StartupNotify=true
