[Desktop Entry]
Name=Kdevelop
GenericName=Cross-platform IDE
Comment=A cross-platform IDE for C, C++, Python, QML/JavaScript and PHP
Exec=kdevelop %F
Icon=kdevelop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;
