[Desktop Entry]
Name=Kextor
GenericName=Programmers Text Editor
Comment=Text Editor with Advanced Features for Developers
Exec=kextor %F
Icon=kdevelop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;
