[Desktop Entry]
Name=Pulsar
GenericName=Hackable text editor
Comment=A Community-led Hyper-Hackable Text Editor
Exec=pulsar %F
Icon=pulsar
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;
