[Desktop Entry]
Name=Rambox
GenericName=Messaging and emailing app
Comment=Cross Platform messaging and emailing app
Exec=rambox %u
Icon=rambox
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;
StartupNotify=true
