[Desktop Entry]
Name=Robo3t
GenericName=MongoDB lightweight GUI
Comment=Tool for handling MongoDB instances
Exec=robo3t %u
Icon=/opt/robo3t/robomongo.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;
StartupNotify=true
