[Desktop Entry]
Name=stride
GenericName=Team Chat
Comment=Stride Chat Application
Exec=stride %U
Icon=stride
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Chat;
StartupNotify=true
