[Desktop Entry]
Name=Tor Browser
GenericName=Tor Web Browser
Comment=Web Navigator for anonymity on the net
Exec=tor-browser %u
Icon=tor
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
