[Desktop Entry]
Name=DBeaver
GenericName=Database tool
Comment=Tool for manage databases
Exec=sh -c "$HOME/.local/share/dbeaver/dbeaver"  %u
Icon=dbeaver
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;
StartupNotify=true
