[Desktop Entry]
Name=Pycharm
GenericName=Python Development IDE
Comment=Community Edition of Jetbrains IDE for python development
Exec=sh -c "$HOME/.local/share/pycharm/bin/pycharm.sh" %u
Icon=pycharm
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;IDE;
StartupNotify=true
