[Desktop Entry]
Name=Zoom
GenericName=Meetings Client
Comment=Private pain in the ass meetings client
Exec=sh -c "$HOME/.local/share/zoom/ZoomLauncher" %u
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;x-scheme-handler/zoomphonesms;x-scheme-handler/zoomcontactcentercall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;zoomphonesms;zoomcontactcentercall;
